<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragments :: dauTrang('Đăng ký')}"></head>
<body>
<div th:replace="~{layout/bo-icon :: boIcon}"></div>
<div th:replace="~{layout/fragments :: menu}"></div>

<main class="than than--kem">
    <div class="khung">
        <div class="trang-the">
            <div class="trang-the__dau">
                <img th:src="@{/img/logo-nau.png}" alt="Bếp Nè">
                <h1>Đăng ký tài khoản</h1>
                <p>Tạo tài khoản để mua hàng nhanh hơn ở lần sau.</p>
            </div>

            <div class="the-trang">
                <div class="thong-bao thong-bao--loi" th:if="${loiDangKy}" role="alert">
                    <svg class="ic"><use xlink:href="#ic-canh-bao"></use></svg>
                    <span th:text="${loiDangKy}">Tên đăng nhập đã có người dùng</span>
                </div>

                <form class="form-dl" th:action="@{/dang-ky}" th:object="${taiKhoan}" method="post">
                    <div class="o-truong">
                        <label class="nhan" for="tenDangNhap">Tên đăng nhập</label>
                        <input class="o-nhap" id="tenDangNhap" th:field="*{tenDangNhap}" autocomplete="username">
                        <span class="loi-nhap" th:if="${#fields.hasErrors('tenDangNhap')}" th:errors="*{tenDangNhap}"></span>
                    </div>
                    <div class="o-truong">
                        <label class="nhan" for="matKhau">Mật khẩu</label>
                        <input class="o-nhap" id="matKhau" type="password" th:field="*{matKhau}" autocomplete="new-password">
                        <span class="goi-y">Ít nhất 6 ký tự.</span>
                        <span class="loi-nhap" th:if="${#fields.hasErrors('matKhau')}" th:errors="*{matKhau}"></span>
                    </div>
                    <div class="o-truong">
                        <label class="nhan" for="hoTen">Họ và tên</label>
                        <input class="o-nhap" id="hoTen" th:field="*{hoTen}">
                        <span class="loi-nhap" th:if="${#fields.hasErrors('hoTen')}" th:errors="*{hoTen}"></span>
                    </div>
                    <div class="o-truong">
                        <label class="nhan" for="email">Email</label>
                        <input class="o-nhap" id="email" th:field="*{email}">
                        <span class="loi-nhap" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>
                    <div class="o-truong">
                        <label class="nhan" for="soDienThoai">Số điện thoại</label>
                        <input class="o-nhap" id="soDienThoai" name="soDienThoai" th:value="${soDienThoai}">
                    </div>
                    <div class="o-truong">
                        <label class="nhan" for="diaChi">Địa chỉ</label>
                        <input class="o-nhap" id="diaChi" name="diaChi" th:value="${diaChi}">
                    </div>
                    <div class="hang-nut">
                        <button class="nut" type="submit">
                            Đăng ký
                            <svg class="ic"><use xlink:href="#ic-mui-ten-phai"></use></svg>
                        </button>
                    </div>
                </form>
            </div>

            <p class="duoi-form">Đã có tài khoản? <a th:href="@{/dang-nhap}">Đăng nhập</a></p>
        </div>
    </div>
</main>

<div th:replace="~{layout/fragments :: chanTrang}"></div>
<div th:replace="~{layout/fragments :: menuDienThoai}"></div>
</body>
</html>
