<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragments :: dauTrang('Đăng nhập')}"></head>
<body>
<div th:replace="~{layout/bo-icon :: boIcon}"></div>
<div th:replace="~{layout/fragments :: menu}"></div>

<main class="than than--kem">
    <div class="khung">
        <div class="trang-the">
            <div class="trang-the__dau">
                <img th:src="@{/img/logo-nau.png}" alt="Bếp Nè">
                <h1>Đăng nhập</h1>
                <p>Đăng nhập để đặt hàng và theo dõi đơn của bạn.</p>
            </div>

            <div class="the-trang">
                <div th:replace="~{layout/fragments :: thongBao}"></div>
                <div class="thong-bao thong-bao--loi" th:if="${loiDangNhap}" role="alert">
                    <svg class="ic"><use xlink:href="#ic-canh-bao"></use></svg>
                    <span th:text="${loiDangNhap}">Sai tên đăng nhập hoặc mật khẩu</span>
                </div>

                <form class="form-dl" th:action="@{/dang-nhap}" method="post">
                    <div class="o-truong">
                        <label class="nhan" for="tenDangNhap">Tên đăng nhập</label>
                        <input class="o-nhap" id="tenDangNhap" name="tenDangNhap" required
                               th:value="${tenDangNhapCu}" autocomplete="username">
                    </div>
                    <div class="o-truong">
                        <label class="nhan" for="matKhau">Mật khẩu</label>
                        <input class="o-nhap" id="matKhau" name="matKhau" type="password" required
                               autocomplete="current-password">
                    </div>
                    <div class="hang-nut">
                        <button class="nut" type="submit">
                            Đăng nhập
                            <svg class="ic"><use xlink:href="#ic-mui-ten-phai"></use></svg>
                        </button>
                    </div>
                </form>
            </div>

            <p class="duoi-form">Chưa có tài khoản? <a th:href="@{/dang-ky}">Đăng ký ngay</a></p>
        </div>
    </div>
</main>

<div th:replace="~{layout/fragments :: chanTrang}"></div>
<div th:replace="~{layout/fragments :: menuDienThoai}"></div>
</body>
</html>
